/* HOJA DE ESTILO */
body{
    
    /* centrar todo */
    padding: 100px;
}

/* posicion columna */
.gatos_adop{
    display: flex;
}


/* tamaño y forma de la fotografia */
.gato1{
    border-radius: 10px;
    width: 200px;
}

.gato2{
    border-radius: 10px;
    width: 200px;
}
.gato3{
    border-radius: 10px;
    width: 200px;
}

.fotos{
    width: 50%;
}

.nombres{
    width: 50%;
}