/* HOJA DE ESTILO */
body{
   

}

/* tamaño y forma de la fotografia */
.perro{
    border-radius: 10px;
    width: 400px;
}

.gato{
    border-radius: 10px;
    width: 400px;
}

/* posicion columna */
.fotografias{
    display: flex;
}

.columna_izq{
    width: 50%;
}

.columna_der{
    width: 50%;
}

/*CONFIG PERFIL CACHUDO*/
.perfil_cachudo{
    display: flex;
}

.col_izq{
    width: 50%;
}
.col_der{
    width: 50%;
}
.foto_cachudo{
    border-radius: 10px;
    width: 400px;
}


